@import "colors.css";
@import "master.css";
/* //////////     HTML     ////////// */

body {
    text-align: center;
    background-color: var(--white);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 2vh 0 0 0;
    padding: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 40px 0 40px 0;
}

ol {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    padding: 0 0 0 20px;
    text-align: left;
}

/* //////////     NAVIGATION     ////////// */

.fnav {
    position: fixed;
    z-index: 5;
    top: 4vh;
    right: 0;
    padding: 10px;
    border-radius: 2px 0 0 2px;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
}

.fnav a {
    display: block;
    color: var(--white);
    /* text-align: left; */
    padding: 0px 16px;
    text-decoration: none;
}

.fnav a, .fnav f:hover {
    text-decoration: none;
    color: var(--white);
}

.fnav div {
    margin: 10px 0;
}

.fnav div:last-child {
    margin: 0 0 10px 0;
}

/* //////////     CLASSES     ////////// */

.captions {
    font-family: 'Courier New', Courier, monospace;
}

.image-container {
    width: 75vw;
    overflow: hidden;
    margin: 5vh 0 20px 0;
    border-radius: 2px;
}

.image-container figure {
    width: 100%;
    margin: 5vh 0;
}

.page1 {
    min-height: 100vh;
}

.page2 {
    min-height: 100vh;
}

.video-container {
    width: 75vw;
    /* margin: 0; */
    /* color: var(--formborder); */
    /* font-size: 1.1rem; */
}

/* .video-container p {
    padding: 2vh 2vh 0 2vh;
} */

/* //////////     RESPONSIVE     ////////// */

/* max-width: 576px 768 992 */

@media (max-width: 1200px) {
    .image-container {
        border-radius: 4px;
    }
    .page2 {
        padding-bottom: 0vh;
        min-height: 10vh;
    }
    .video-container {
        width: 75vw;
        /* margin: 5vh 0; */
    }
}

@media (min-width: 768px) {
    .video-container {
        width: 75vw;
        /* margin: 10vh 0; */
    }
}

@media (min-width: 992px) {
    .video-container {
        width: 75vw;
        /* margin: 10vh 0; */
    }
}

@media (min-width: 1200px) {
    .image-container {
        border-radius: 8px;
    }
    .page2 {
        min-height: 100vh;
    }
}