/* Green: #079b25  */

/* @import "master.css"; */

* {
    --black: black;
    --body: black;
    --buttoncolor: rgb(255, 255, 255);
    /* --contact: #02d8cd; */
    --contact: #061526;
    --formborder: rgb(160, 160, 160);
    --footerbgd: #b3edff;
    /* --footertext: navy; */
    --footertext: black;
    --grey: grey;
    --highlight1: #fc7038;
    --home: #061526;
    --link1: #C4DEDD;
    --link2: #B2BDB4;
    --link3: #9F8D78;
    --link4: #5D6D62;
    --link5: #B48B75;
    --live: #6DD6FF;
    --red: red;
    --red2: #880C05;
    --pale: lightyellow;
    --placeholder: #dddddd;
    --shadow: rgba(0, 0, 0, 0.9);
    --shadow2: rgba(0, 0, 0, 0.65);
    /* --text1: rgb(160, 160, 160); */
    --text1: #dddddd;
    --videobgd: rgb(67, 73, 77);
    --white: white;
    --yellow: #FCD032;
}