@import "colors.css";
@import "master.css";

/* //////////////     HTML STUFF /////////// */

body {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: 100;
}

button {
    background-color: var(--contact);
    color: var(--buttoncolor);
    border: none;
    width: 200px;
    padding: 20px;
}

input, #message {
    width: 100%;
    border: 1px solid var(--formborder);
    display: block;
    padding: 10px;
}

input:focus, #message:focus {
    border: 2px solidvar(--contact);
    outline: none;
}

label {
    display: block;
    margin: 20px;
}

/* //////////        IDs        //////////// */

#message {
    height: 35vh;
}

/* //////////        NAVIGATION        //////////// */

.fnav {
    position: fixed;
    z-index: 5;
    top: 10px;
    right: 10px;
    color: var(--buttoncolor);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    ;
    overflow: hidden;
    background-color: var(--contact);
}

li {
    float: left;
    margin: 0;
}

li a {
    display: block;
    color: var(--buttoncolor);
    text-align: right;
    padding: 0px 16px;
    text-decoration: none;
    /* text-align: center; */
}

li a:hover {
    text-decoration: none;
    color: var(--buttoncolor);
}

.fnav li {
    border-right: 1px solid var(--buttoncolor);
    ;
}

.fnav li:last-child {
    border-right: none
}

/* //////////        CLASSES        //////////// */

.blurb {
    align-self: center;
}

.credit {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 0px;
    padding: 0 0 20px 20px;
    opacity: 0.65;
}

.scform {
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    /* border: 1px solid rgb(158, 158, 158); */
}

.leftc {
    min-height: 100vh;
    align-content: center;
    /* justify-content: center; */
    color: white;
    background: url(../img/megan-clark-ZsbVBilAN6Q-unsplash.jpg) var(--contact);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}

.rightc {
    min-height: 100vh;
    /* align-content: center; */
}

.spacer {
    margin-top: 20px;
}