@import "colors.css";
@import "master.css";

/* //////////////     HTML STUFF /////////// */

body {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: 100;
}

h3 {
    font-size: 1.2rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: 100;
}

button {
    background-color: var(--contact);
    color: var(--buttoncolor);
    border: none;
    width: 200px;
    padding: 15px;
}

input, #message {
    width: 100%;
    border: 1px solid var(--formborder);
    display: block;
    padding: 10px;
    border-radius: 3px;
}

input:focus, #message:focus {
    border: 2px solidvar(--contact);
    outline: none;
}

label {
    display: block;
}

/* //////////        IDs        //////////// */

#message {
    height: 15vh;
}

/* //////////        NAVIGATION        //////////// */

.fnav {
    position: fixed;
    z-index: 5;
    top: 10px;
    right: 10px;
    color: var(--buttoncolor);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    background-color: var(--contact);
}

li {
    float: left;
    margin: 0;
}

li a {
    display: block;
    color: var(--buttoncolor);
    text-align: right;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: var(--buttoncolor);
}

.fnav li {
    border-right: 1px solid var(--buttoncolor);
    ;
}

.fnav li:last-child {
    border-right: none
}

/* //////////        CLASSES        //////////// */

.credit {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 0px;
    padding: 0 0 20px 20px;
    opacity: 0.65;
}

/* //////////        CLASSES        //////////// */

.formtitle {
    width: 600px;
    margin-bottom: 2vh;
}

.leftc {
    min-height: 100vh;
    align-content: center;
    color: var(--white);
    background: url(../img/megan-clark-ZsbVBilAN6Q-unsplash.jpg) var(--contact);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}

.recaptcha {
    /* height: 10vh; */
    margin-bottom: 20px;
    /* border: 2px solid green; */
}

.righttop {
    background-color: var(--contact);
    min-height: 50vh;
    padding: 0 0 5vh 15%;
    box-sizing: border-box;
}

.rightbottom {
    padding: 5vh 0 0 15%;
    box-sizing: border-box;
}

.scform {
    width: 80%;
    padding: 0px;
}

.subscribe {
    margin-bottom: 2vh;
    color: var(--white);
}

.subscribe a {
    border: none;
    padding: 15px;
    margin: 10vh 0;
}

#subscribe {
    background-color: var(--red);
    color: var(--buttoncolor);
}

.spacer {
    margin-top: 20px;
}

/* //////////     RESPONSIVE     ////////// */

@media (min-width: 576px) {
    /* .righttop {
        min-height: 33vh;
    } */
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .righttop {
        min-height: 33vh;
    }
}