@import "colors.css";
@import "master.css";
/* //////////////     HTML STUFF /////////// */

body {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    /* padding: 0; */
}

h1 {
    font-size: 1.5rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: 100;
}

h3 {
    font-size: 1.2rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: 100;
}

button {
    background-color: var(--contact);
    color: var(--buttoncolor);
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

button:focus {
    outline: none;
}

input, #message {
    width: 100%;
    border: 1px solid var(--formborder);
    display: block;
    padding: 10px;
    border-radius: 3px;
}

input:focus, #message:focus {
    border: 2px solidvar(--contact);
    outline: none;
}

label {
    display: block;
}

/* //////////        IDs        //////////// */

#message {
    height: 10vh;
}

/* //////////        NAVIGATION        //////////// */

.fnav {
    position: fixed;
    z-index: 5;
    top: 4vh;
    right: 0;
    background-color: var(--home);
    color: var(--white);
    padding: 10px;
    border-radius: 6px 0 0 6px;
}

.fnav a {
    display: block;
    color: var(--buttoncolor);
    text-align: left;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 1.1rem;
}

.fnav a, .fnav f:hover {
    text-decoration: none;
    color: var(--white);
}

.fnav div {
    margin: 10px 0 0 0;
}

.fnav div:last-child {
    margin: 10px 0 10px 0;
}

/* //////////        CLASSES        //////////// */

.credit {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 0px;
    padding: 0 0 20px 20px;
    opacity: 0.65;
}

/* //////////        CLASSES        //////////// */

.formtitle {
    width: 600px;
    margin-bottom: 2vh;
}

.leftc {
    min-height: 100vh;
    align-content: center;
    color: var(--white);
    background: url('../img/IMG_20190817_132250502.jpg') var(--contact);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}

.maincontainer {
    min-width: 350px;
}

.panelright {
    min-height: 100vh;
}

.recaptcha {
    margin-bottom: 20px;
}

.righttop {
    min-height: 50vh;
    padding: 0 0 0 6vh;
}

.righttop img {
    width: 150px;
    padding-top: 100px;
}

.rightbottom {
    padding: 0 0 0 6vh;
    min-height: 50vh;
    overflow: hidden;
}

.sbutton {
    width: 85%;
}

.scform {
    width: 85%;
    padding: 0px;
}

.subscribe {
    margin-bottom: 2vh;
    color: var(--white);
    /* text-align: center; */
    width: 85%;
}

.subscribe a {
    border: none;
    padding: 15px;
    margin: 10vh 0;
}

#subscribe {
    background-color: var(--red);
    color: var(--buttoncolor);
    /* width: 100%; */
}

.spacer {
    margin-top: 20px;
}

/* //////////     RESPONSIVE     ////////// */

@media (min-width: 576px) {
    .sbutton, button {
        width: 200px;
    }
    /* form button {
        width: 50%;
    } */
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .righttop {
        min-height: 33vh;
        background-image: none;
    }
}