@import "colors.css";
@import "master.css";
/* //////////        HTML STUFF        //////////// */

body {
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

h1 {
  font-size: 1.5rem;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-weight: 100;
}

a, a:hover, a:visited, a:active {
  color: var(--home);
  text-decoration: none
}

#sig {
  text-align: right;
}

/* //////////        NAVIGATION        //////////// */

.fnav {
  position: fixed;
  z-index: 5;
  top: 10px;
  right: 10px;
  color: white;
  /* -webkit-box-shadow: -2px 4px 12px 1px var(--shadow2);
  box-shadow: -2px 4px 12px 1px var(--shadow2); */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  ;
  overflow: hidden;
  background-color: var(--home);
}

li {
  float: left;
  margin: 0;
}

li a, li a:hover, li a:visited, li a:active {
  display: block;
  color: white;
  text-align: right;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: white;
}

.fnav li {
  border-right: 1px solid #ffffff;
}

.fnav li:last-child {
  border-right: none
}

/* //////////        CONTENT        //////////// */

.blurb {
  align-self: center;
  padding: 0 20px;
}

.left {
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  background-color: var(--home);
  color: white;
}

.right {
  min-height: 100vh;
  /* align-content: center; */
}

.spacer {
  margin-top: 20px;
}