@import "colors.css";
@import "master.css";
/* //////////        HTML STUFF        //////////// */

a, a:hover, a:visited, a:active {
  text-decoration: none;
  /* text-decoration: underline; */
  color: var(--red);
  font-family: 'Nunito', sans-serif;
  /* font-weight: 600; */
}

body {
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

h1 {
  font-size: 1.5rem;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-weight: 100;
}

#sig {
  text-align: right;
}

/* //////////        NAVIGATION        //////////// */

.fnav {
  position: fixed;
  z-index: 5;
  top: 4vh;
  right: 0;
  background-color: var(--home);
  color: var(--white);
  padding: 10px;
  border-radius: 6px 0 0 6px;
}

.fnav a {
  display: block;
  color: var(--buttoncolor);
  text-align: left;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.fnav a, .fnav f:hover {
  text-decoration: none;
  color: var(--white);
}

.fnav div {
  margin: 10px 0 0 0;
}

.fnav div:last-child {
  margin: 10px 0 10px 0;
}

/* //////////        CONTENT        //////////// */

.blurb {
  align-self: center;
  padding: 0 20px;
}

.left {
  min-width: 340px;
  /* min-height: 45vh; */
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  background-color: var(--home);
  /* background-image: url('../img/IMG_20190817_130409843.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 100% 100%; */
}

.right {
  min-width: 320px;
  /* min-height: 50vh; */
  min-height: 100vh;
}

.spacer {
  margin-top: 20px;
}

/* //////////     RESPONSIVE     ////////// */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .left, .right {
    min-height: 100vh;
  }
}