@import "colors.css";
@import "master.css";
/* //////////        HTML STUFF        //////////// */

a, a:hover, a:visited, a:active {
  text-decoration: none;
  /* text-decoration: underline; */
  color: var(--red);
  /* font-family: 'Nunito', sans-serif; */
  /* font-weight: 600; */
}

body {
  background-image: url('../img/LogoBox.png');
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: 5vw 5vh;
  font-family: 'Playfair Display', serif;
  /* font-weight: 200; */
}

/* //////////        NAVIGATION        //////////// */

.fnav {
  padding: 5vh;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 200;
  text-align: right;
}

.fnav a {
  color: black;
  padding: 10px;
}

.fnav a, .fnav a:hover {
  text-decoration: none;
}

#link1 a:hover {
  background: var(--link1);
  color: black;
}

#link2 a:hover {
  background: var(--link2);
  color: black;
}

#link3 a:hover {
  background: var(--link3);
  color: black;
}

#link4 a:hover {
  background: var(--link4);
  color: black;
}

#link5 a:hover {
  background: var(--link5);
  color: black;
}

#sig {
  text-align: right;
}

/* //////////        CONTENT        //////////// */

.blurb {
  /* background: rgba(0, 0, 0, 0.1); */
  background: rgba(255, 255, 255, 0.5);
  border: 1px grey solid;
  border-radius: 2px;
  padding: 3vh 5vh;
  margin: 5vh 5vh 0 5vh;
  /* -webkit-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
   */
  color: black;
  text-align: justify;
  letter-spacing: 0.03em;
  line-height: 2;
}

.blurb a {
  color: black;
  background: var(--yellow);
}

.blurb a:hover {
  color: black;
  background: var(--yellow);
  /* text-decoration: underline; */
}

.social {
  padding-bottom: 10vh;
  font-size: 2rem;
  text-align: center;
}

.social a {
  color: black;
}

.spacer {
  margin-top: 20px;
}

.splash {
  /* padding-top: 15vh; */
  min-height: 100vh;
}

/* //////////     RESPONSIVE     ////////// */

@media (max-width: 576px) {
  .blurb {
    padding: 3vh 5vh;
    margin: 5vh 5vh 0 5vh;
    /* border: none; */
    /* -webkit-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  } */
  .splash {
    padding: 0;
    min-height: 100vh;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}