@import "colors.css";
/* 
font-family: 'Red Hat Display', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'DM Serif Display', serif; 
*/

/* ////////// GLOBAL ////////// */

::-webkit-input-placeholder {
    color: var(--placeholder);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

::-moz-placeholder {
    color: var(--placeholder);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

::-ms-input-placeholder {
    color: var(--placeholder);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

/* ////////// CLASSES ////////// */

.address {
    font-family: 'Courier New', Courier, monospace;
}

.address a {
    color: var(--footertext);
    text-decoration: underline;
}

.copyright {
    font-family: 'Playfair Display', serif;
}

.divider {
    border-bottom: 1px solid var(--formborder);
}

.footer {
    background-color: var(--footerbgd);
    color: var(--black);
    padding: 10vh 5vh;
}

.scshadow {
    -webkit-box-shadow: 6px 4px 19px 1px var(--shadow);
    box-shadow: 6px 4px 19px 1px var(--shadow);
}