
/* ////////// PLACEHOLDERS ////////// */

::-webkit-input-placeholder {
    color: var(--placeholder);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

::-moz-placeholder {
    color: var(--placeholder);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

::-ms-input-placeholder {
    color: var(--placeholder);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

/* ////////// HTML ////////// */

/* ////////// CLASSES ////////// */

.address {
    font-family: 'Courier New', Courier, monospace;
}

.address a {
    color: var(--footertext);
    text-decoration: underline;
}

.copyright {
    font-family: 'Playfair Display', serif;
}

.divider {
    border-bottom: 1px solid var(--formborder);
}

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 10vh 5vh;
}

.footer a, .footer a:hover {
    color: white;
    text-decoration: none;
}

.scshadow {
    -webkit-box-shadow: 6px 4px 19px 1px var(--shadow);
    box-shadow: 6px 4px 19px 1px var(--shadow);
}